<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZNCeuf2m5qF6OwOfA3nUO9GwIj8V48WQ</string>
	<key>GCM_SENDER_ID</key>
	<string>146266364801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todolist-b84ac</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-b84ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146266364801:ios:28f5d91baa1d78fc9de680</string>
</dict>
</plist>